<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package') { ?>
    <section class="package">
        <h3><?js= env.conf.templates.applicationName ?> <?js= (env.conf.geojs || {}).version || data.version ?></h3>
        <?js if ((env.conf.geojs || {}).version && data.homepage) { ?>
        <span><a href="<?js= data.homepage + '/commit/' + env.conf.geojs.gitsha ?>"> <?js= data.name ?> commit <?js= env.conf.geojs.gitsha.substr(0, 7) ?></a></span>
    <?js } ?>
    </section>
<?js } ?>
<?js if (data.readme) { ?>
    <section class="readme usertext">
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
<!-- Add index -->
<?js if (data.kind === 'package') { ?>
  <div class="top-class-list">
    <h3>Classes</h3>
    <ul class="list">
    <?js
    var classes = self.find({kind: 'class'});
    classes.forEach(function (item) {
    ?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <?js= self.linkto(item.longname, item.longname) ?>
            </span>
    <?js
    });
    ?>
    </ul>
  </div>

  <div class="top-typedef-list">
    <h3>Typedefs</h3>
    <ul class="list">
    <?js
    var typedefs = self.find({kind: 'typedef'});
    typedefs.forEach(function (item) {
    ?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <?js= self.linkto(item.longname, item.longname) ?>
            </span>
    <?js
    });
    ?>
    </ul>
  </div>
<?js } ?>
