.main ul.list {
  column-width: 300px;
}
.main td.name .inherited {
  background-color: #ccc!important;
}
.main td.name .inherited a {
  color: #c7254e;
}
.main .subsection-title {
  margin-top: inherit;
}  
.main h2.subsection-title {
  font-size: 20px;
  margin-top: 30px;
  border-top: 3px double #e1e1e1;
  padding-top: 20px;
}    
