#main ul.list {
  column-width: 240px;
  padding: 0;
  margin: 0;
}
#main ul.list li {
  list-style-type: none;
  line-height: 133%;
}
#main .top-class-list, #main .top-typedef-list {
  padding-left: 30px;
}
nav > ul > li > a {
  margin-top: 5px;
}
