{
    "extends": "semistandard",
    "rules": {
        "camelcase": "off",
        "indent": ["error", 2, {
            "CallExpression": {"arguments": "first"},
            "MemberExpression": "off",
            "SwitchCase": 1,
            "VariableDeclarator": 2
        }],
        "key-spacing": "off",
        "multiline-ternary": "off",
        "new-cap": "off",
        "no-loss-of-precision": "off",
        "no-multi-spaces": "off",
        "no-prototype-builtins": "off",
        "no-throw-literal": "off",
        "no-unneeded-ternary": "off",
        "no-useless-call": "off",
        "no-var": "off",
        "object-curly-spacing": "off",
        "object-curly-newline": "off",
        "object-shorthand": "off",
        "one-var": "off",
        "operator-linebreak": "off",
        "padded-blocks": "off",
        "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
        "spaced-comment": "off",
        "yoda": "off"
    },
    "env": {
        "browser": true
    },
    "globals": {
        "sinon": true
    }
}
