{
    "extends": "semistandard",
    "rules": {
        "indent": [2, 2, {"VariableDeclarator": 2, "SwitchCase": 1}],
        "padded-blocks": 0,
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "one-var": 0,
        "no-throw-literal": 0,
        "new-cap": 0,
        "spaced-comment": 0,
        "operator-linebreak": 0,
        "key-spacing": 0,
        "no-unneeded-ternary": 0,
        "yoda": 0,
        "no-useless-call": 0
    },
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "proj4": true,
        "gl": true,
        "d3": true,
        "mat4": true,
        "vec4": true,
        "vec3": true,
        "geo": true,
        "vgl": true,
        "inherit": true,
        "PNLTRI": true
    }
}
