{
    "extends": "semistandard",
    "rules": {
        "indent": ["error", 2, {"VariableDeclarator": 2, "SwitchCase": 1}],
        "padded-blocks": "off",
        "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
        "one-var": "off",
        "no-throw-literal": "off",
        "new-cap": "off",
        "spaced-comment": "off",
        "operator-linebreak": "off",
        "key-spacing": "off",
        "no-unneeded-ternary": "off",
        "yoda": "off",
        "no-useless-call": "off",
        "camelcase": "off"
    },
    "env": {
        "browser": true
    },
    "globals": {
        "sinon": true
    }
}
