/build/*
/_build/*
/Testing/Temporary/*
.DS_Store
.*.swp
/node_modules/*
.vimrc
/geo.min.js
*.py[ocd]
/docs/_*
/docs/*.py
!/docs/conf.py
!/docs/parse.py
.eslintcache
/lcov
/notes
/jsdoc/template/tmpl
/jsdoc/template/static
/images/*
test-results/*
