extends ../common/index.pug

block append mainContent
  #controls
    button#pan-to-london Pan to London
    button#elastic-to-moscow Elastic to Moscow
    button#bounce-to-istanbul Bounce to Istanbul
    button#fly-to-bern Fly to Bern
    button#spin-to-budapest Spin to Budapest
    button#test.hidden Test
