.page.download {
    h3 {
        margin-bottom: 30px;
    }

    h4 {
        margin-top: 20px;
    }

    .highlight table {
        table-layout: fixed;
        width: 100%;
    }

    pre {
        border: none;
    }

    p {
        font-size: 15px;
    }
}