html, body {
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar {
  margin: 0;
}

#map {
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
}

.gj-screenshot-link {
  cursor: pointer;
}
li.gj-screenshot-result,li.gj-screenshot-waiting {
  display: none;
}
li a.gj-screenshot-download {
  padding: 0;
}
li.gj-screenshot-result img {
  max-height: 60px;
  max-width: 120px;
}
