extends ./common/templates/index.jade

mixin thumbnail(ex)
  .col-md-4
    .thumbnail
      a(href="#{ex.path}")
        img(src="#{ex.thumbnail|| 'thumb.jpg'}" onerror="this.src='osm/osm.jpg';")
        .caption
          h3= ex.title
          if ex.about.text
            .description
              p= ex.about.text

block mainContent
  .jumbotron
    h1 Welcome to GeoJS
    p Interesting blurb...

  .container-fluid
    - var iExample = 0;
    while iExample < examples.length
      .row
        - for (var i = 0 ; i < 3; i += 1)
          if iExample < examples.length
            +thumbnail(examples[iExample])
            - iExample += 1

