html, body {
  height: 100%;
  width: 100%;
  color: black;
}

.jumbotron p {
  font-weight: normal;
}

.navbar {
  margin: 0;
}

#maincontent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.navbar #maincontent {
  height: calc(100% - 60px);
}
#tutorial, #workframe {
  width: 50%;
  height: 100%;
  display: inline-block;
  border: none;
  float: left;
}
#tutorial {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
  padding-right: 0.5em;
  background: #f9f9f9;
  resize: horizontal;
  min-width: 10em;
}
#workframe {
  overflow: hidden;
  flex-grow: 100;
}
.codeblock .codeblock_entry {
  width: calc(100% - 6em);
  font-family: monospace;
  margin-bottom: 1em;
  opacity: 0.5;
  font-size: 0.9em;
  line-height: 1.3em;
  background: inherit;
  display: inline-block;
}
.codeblock.active .codeblock_entry {
  opacity: 1;
  background: white;
  resize: vertical;
}
.codeblock .codeblock_entry textarea {
  width: 100%;
}
.codeblock .CodeMirror {
  height: inherit;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.codeblock_controls {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 5em;
}
.codeblock_controls>button{
  display: block;
  margin: 0.125em auto;
}
.codeblock_controls>button.codeblock_reset {
  font-size: 0.67em;
}
.codeblock .codeblock_active {
  display: none;
}
.codeblock.active .codeblock_active {
  display: inherit;
}
.codeblock.active .codeblock_inactive {
  display: none;
}
.codeblock_test {
  display: none;
}
