#controls {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 10px;
  top: 80px;
  z-index: 2;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 3px black;
  opacity: 0.5;
  transition: opacity 250ms ease;
  background: #CCC;
  color: black;
  padding: 4px;
  font-size: 14px;
  max-height: calc(100% - 100px);
  min-width: 310px;
}
#controls:hover {
  opacity: 1;
}
#controls .form-group {
  margin-bottom: 0;
}
#controls label {
  min-width: 120px;
}
#controls #lines {
  width: 100px;
}
#controls #lines-loaded,#controls #lines-shown,#controls #simple-lines-shown {
  display: inline-block;
  font-size: 11px;
  padding-left: 5px;
}
#controls table input {
  width: 55px;
}
#controls table th {
  text-align: center;
}
.shortlabel {
  margin-bottom: 5px;
  font-weight: bold;
  display: inline-block;
}
#tooltip {
  margin-left: 0px;
  margin-top: -20px;
  height: 20px;
  line-height: 16px;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 12px;
  color: black;
}
#controls #simplify_tolerance,#controls #resimplify_delay {
  width: 80px;
}

