---
layout: default
navbar_affix: true
---
<!-- This will put script and link in the body, which has certain drawbacks, but it's relatively minor for the current use -->
<script type="text/javascript" src="{{ "js/example.js" | relative_url }}"></script>
<link rel="stylesheet" href="{{ "css/example.css" | relative_url }}">
<script type="text/javascript" src="../bundle.js" charset="UTF-8"></script>
<div class="page example">
    <script type="text/javascript" src="main.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="main.css">
    <div id="map"></div>
    {{ content }}
    <div class="container">
        <div class="row source-screenshot">
            <div class="col-md-12">
                <a class="source" href="docs/main.html">Source code</a>
                <a class="screenshot" href="#">Take screenshot</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 screenshot-result-container">
                <a class="screenshot-loading" href="#">...</a>
                <div class="pull-right screenshot-result">
                    <a download="screenshot.png"><img /></a>
                </div>
            </div>
        </div>
        <div class="row about">
            <div class="col-md-12">
                <p>{{page.about}}</p>
            </div>
        </div>
    </div>
</div>