---
---
@media (min-width: 768px){
    html, body {
        height: 100%;
        width: 100%;
    }

    .content-wrapper{
        height: 100%;
        padding-top: 70px;
    }

    .page.example{
        height: 100%;

        #map {
            width: 100%;
            height: 87%;
            overflow: hidden;
        }

        .about {
            padding-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        padding-top: 50px;
    }

    .page.example {
        #map{
            height: 70vh;
        }

        .about {
            padding: 25px 0 15px 0;
        }
    }
}

.page.example{
    .source-screenshot {
        margin-top: 2px;
        font-size: 13px;
        text-align: right;

        .source{
            margin-right: 30px;
        }

        .screenshot-loading {
            display: none;
            text-align: center;
        }
    }

    .screenshot-result img {
        width: 100%;
    }
}